@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root {
	--primary: #2CCE8B;
	--business: #3A82EE;
	--personal: #FDC410;
	--light: #EEE;
	--grey: #888;
	--dark: #302e4e;
	--danger: #ff5b57;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", "Noto Sans TC", sans-serif;
}

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5em;
}

h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 0.5rem;
	
}

/* 清除表單和按鈕預設樣式 */
input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

.container{
	max-width: 500px;
	width: 100%;
    margin: 0 auto;
}

.greeting .title {
	display: flex;
}

.greeting .title input {
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid var(--grey);
	/* 取消 input 元素預設寬度的20ch。讓最小寬度可以到 0，使 input 不會因父入器變窄而擠壓左邊文字 */
	min-width: 0;
	/* 讓 input 可以跟著父層容器寬度變長 */
	flex-grow:1;
	/* 讓 input 可以配合父層容器寬度變短後，也不壓縮左邊文字 */
	flex-basis: 0%;
	/* flex: 1 1 0%; */
	/* flex-grow | flex-shrink | flex-basis */
}

.greeting .title input::placeholder{
	color: hsl(0, 0%, 80%);
}

.greeting .title,
.greeting .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}

.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

/* 類別選擇區塊 */
/* 分2塊，空間佔比 1:1 ，意即佔各半*/
.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

/* 類別選擇內容 */
.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.25rem;
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	cursor: pointer;
}

/* 提醒文字 */
.create-todo .reminder{
	color: var(--primary);
	text-align: center;
	padding: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-in;
}

.create-todo .reminder.active{
	text-align: center;
	padding: 8px 12px; 
	height: initial;
	overflow: auto;
	margin-top: 8px;
	visibility: visible;
	opacity: 1;
}

/* 把 input span div 都放在 label 元素內 ，這樣點擊其中任一個元素，
例如：點擊 span，都會連動去影響 input 的狀態，例如：check打勾, radio選取 */
/* 移除 input 預設樣式  */
input[type="radio"],
input[type="checkbox"] {
	display: none;
}

/* 用 span 製作客製化 radio */
/* 空心圈圈 */
.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border: 2px solid;
	border-radius: 50%;
}

/* 空心圈圈工作 */
.bubble.business{
	border: 2px solid var(--business);
}

/* 空心圈圈私人 */
.bubble.personal {
	border-color: var(--personal);
}

/* 圓圈實心填色預設為看不到 */
.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	transition: 0.15s ease-in-out;
}

/* 圓圈實心填色工作 */
.bubble.business::after {
	background-color: var(--business);
}

/* 圓圈實心填色私人 */
.bubble.personal::after {
	background-color: var(--personal);
}

/* 當 input 處於 checked 狀態時，處於鄰居元素的 .bubble::after */
/* 只有當 radio input 被選取到時，才填入實心填色 */
input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

/* 類別選擇文字：工作/私人 */
.create-todo .options label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 0.75rem;
}

/* 新增 todo 按鈕 */
.create-todo .add-todo{
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	background-color: var(--primary);
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.create-todo .add-todo:hover {
	opacity: 0.75;
}

.create-todo .add-todo:active {
	font-size: 1.25rem;
}

.create-todo .add-todo span{
	margin-right: 0.5rem;
}

/* 清單項目區塊 */
.todo-list .list {
	margin: 1rem 0;
} 

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex-grow: 1;
	/* 讓 input 撐開，把垃圾桶推開到最右邊 */
	/* flex-shrink: 1; */
	/* flex-basis: 0%; */
}

/* 清單項目未完成時 */
.todo-item .todo-content input {
	color: var(--dark);
	font-size: 1.125rem;
	width: 100%;
}

/* 清單項目點擊完成時，刪除線 */
.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}

/* 項目刪除按鈕 */
.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions .delete {
	display: block;
	border-radius: 0.25rem;
	font-size: 1.25rem;
	color: var(--danger);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions .delete:hover {
	opacity: 0.75;
}

.todo-item .actions .delete:active {
	scale: 1.25;
}

/* 按鈕：清除 */
.clear{
	background-color: var(--danger);
	color: #FFF;
	padding: 0.5rem 0.75rem;
	margin-right: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.clear:hover{
	opacity: 0.75;
}

/* 按鈕：清除已完成項目 */
.clear.completed{
	background-color: var(--dark);
}